@page
@model TEMA_MEDII_ROCA_RARES_GEORGE.Pages.ServiceDetails.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>ServiceDetail</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ServiceDetail.Services)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ServiceDetail.Services.Location)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ServiceDetail.ServiceTypeID)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ServiceDetail.ServiceTypeID)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ServiceDetail.PaymentCash)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ServiceDetail.PaymentCash)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ServiceDetail.PaymentCard)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ServiceDetail.PaymentCard)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ServiceDetail.WaitingZone)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ServiceDetail.WaitingZone)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ServiceDetail.LuniStartTime)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ServiceDetail.LuniStartTime)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ServiceDetail.LuniEndTime)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ServiceDetail.LuniEndTime)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ServiceDetail.LuniClosed)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ServiceDetail.LuniClosed)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ServiceDetail.MartiStartTime)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ServiceDetail.MartiStartTime)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ServiceDetail.MartiEndTime)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ServiceDetail.MartiEndTime)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ServiceDetail.MartiClosed)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ServiceDetail.MartiClosed)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ServiceDetail.MiercuriStartTime)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ServiceDetail.MiercuriStartTime)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ServiceDetail.MiercuriEndTime)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ServiceDetail.MiercuriEndTime)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ServiceDetail.MiercuriClosed)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ServiceDetail.MiercuriClosed)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ServiceDetail.JoiStartTime)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ServiceDetail.JoiStartTime)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ServiceDetail.JoiEndTime)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ServiceDetail.JoiEndTime)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ServiceDetail.JoiClosed)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ServiceDetail.JoiClosed)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ServiceDetail.VineriStartTime)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ServiceDetail.VineriStartTime)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ServiceDetail.VineriEndTime)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ServiceDetail.VineriEndTime)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ServiceDetail.VineriClosed)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ServiceDetail.VineriClosed)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ServiceDetail.SambataStartTime)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ServiceDetail.SambataStartTime)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ServiceDetail.SambataEndTime)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ServiceDetail.SambataEndTime)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ServiceDetail.SambataClosed)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ServiceDetail.SambataClosed)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ServiceDetail.DuminicaStartTime)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ServiceDetail.DuminicaStartTime)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ServiceDetail.DuminicaEndTime)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ServiceDetail.DuminicaEndTime)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ServiceDetail.DuminicaClosed)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ServiceDetail.DuminicaClosed)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="ServiceDetail.ID" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-page="./Index">Back to List</a>
    </form>
</div>
