@page
@model TEMA_MEDII_ROCA_RARES_GEORGE.Pages.ServiceDetails.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ServiceDetail[0].Services)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ServiceDetail[0].ServiceTypeID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ServiceDetail[0].PaymentCash)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ServiceDetail[0].PaymentCard)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ServiceDetail[0].WaitingZone)
            </th>
            <th>
                Luni
            </th>
            <th>
                Marți
            </th>
            <th>
                Miercuri
            </th>
            <th>
                Joi
            </th>
            <th>
                Vineri
            </th>
            <th>
                Sâmbătă
            </th>
            <th>
                Duminică
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.ServiceDetail) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Services.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ServiceTypes.Type)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PaymentCash)
            </td>

            <td>
                    @if (item.PaymentCash && item.PaymentCash.Equals(true))
                    {
                        <p>Nu</p>
                    }
                    else
                    {
                        <p>Da</p>
                    }
            </td>
            <td>
                    @if (item.PaymentCard && item.PaymentCard.Equals(true))
                    {
                        <p>Nu</p>
                    }
                    else
                    {
                        <p>Da</p>
                    }
            </td>
            <td>
                    @if (item.WaitingZone && item.WaitingZone.Equals(true))
                    {
                        <p>Nu</p>
                    }
                    else
                    {
                        <p>Da</p>
                    }
            </td>
            <td>
                    @if (item.MartiClosed && item.MartiClosed.Equals(true))
                    {
                        <p>Închis</p>
                    }
                    else
                    {
                        @Html.DisplayFor(modelItem => item.MartiStartTime) @Html.DisplayFor(modelItem => item.MartiEndTime)
                    }
            </td>

            <td>
                    @if (item.MiercuriClosed && item.MiercuriClosed.Equals(true))
                    {
                        <p>Închis</p>
                    }
                    else
                    {
                        @Html.DisplayFor(modelItem => item.MiercuriStartTime) @Html.DisplayFor(modelItem => item.MiercuriEndTime)
                    }
            </td>

            <td>
                    @if (item.JoiClosed && item.JoiClosed.Equals(true))
                    {
                        <p>Închis</p>
                    }
                    else
                    {
                        @Html.DisplayFor(modelItem => item.JoiStartTime) @Html.DisplayFor(modelItem => item.JoiEndTime)
                    }
            </td>

            <td>
                    @if (item.VineriClosed && item.VineriClosed.Equals(true))
                    {
                        <p>Închis</p>
                    }
                    else
                    {
                        @Html.DisplayFor(modelItem => item.VineriStartTime) @Html.DisplayFor(modelItem => item.VineriEndTime)
                    }
            </td>

            <td>
                    @if (item.SambataClosed && item.SambataClosed.Equals(true))
                    {
                        <p>Închis</p>
                    }
                    else
                    {
                        @Html.DisplayFor(modelItem => item.SambataStartTime) @Html.DisplayFor(modelItem => item.SambataEndTime)
                    }
            </td>


             <td>
                    @if (item.DuminicaClosed && item.DuminicaClosed.Equals(true))
                    {
                        <p>Închis</p>
                    }
                    else
                    {
                        @Html.DisplayFor(modelItem => item.DuminicaStartTime) @Html.DisplayFor(modelItem => item.DuminicaEndTime)
                    }
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.ID">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.ID">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.ID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
